<h1><strong> <%= @user.name %> </strong>  </h1>

<h3>Events List <strong> <%= @user.name %> </strong> Created </h3>
<ol>
  <% @events.each do |event| %>
    <li>
      <%= event.description %>
      <%= link_to 'More Details', event_path(event.id) %>
    </li>
  <% end %>
</ol>

<h3>Event <%= @user.name %> is invited:</h3>

<h3>Upcoming Events</h3>
<ol>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= event.description %> | <%= event.date %>
      <%= link_to 'Show', event_path(event.id) %>
    </li>
  <% end %>
</ol>

<hr />

<h3>Previous Events</h3>
<ol>
    <% @prev_events.each do |event| %>
      <li>
        <%= event.description %> | <%= event.date %>
        <%= link_to 'Show', event_path(event.id) %>
      </li>
    <% end %>
</ol>
