<h3 class="text-center mt-4 text-white">
<span><i class="fas fa-forward"></i></span>
Upcoming Events
</h3>

<table class="table w-75 m-auto">
    <thead class="thead-dark">
        <tr>
          <th>Status</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Date</th>
            <th>Location</th>
            <th class="text-center">Show Event Page</th>
        </tr>
    </thead>
    <tbody>
      <% Event.all.upcoming_events.each do |event| %>
        <tr class="table-primary">
            <td class="align-middle">
              <span class="badge badge-success p-2">
                Upcoming
              </span>
            </td>
            <td class="text-success align-middle"><strong><%= event.description %></strong></td>
            <td class="align-middle"><%= event.creator.name %></td>
            <td class="align-middle"><%= event.date.strftime('%Y-%m-%d %H:%M %Z') %></td>
            <td class="align-middle"><%= event.location %></td>
            <td class="text-center"><%= link_to 'Show', event_path(event.id), class: "btn btn-success btn-sm px-5" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<h3 class="text-center mt-4 text-white">
<span><i class="fas fa-backward"></i></span>
Previous Events
</h3>
<table class="table w-75 m-auto mb-5">
    <thead class="thead-dark">
        <tr>
          <th>Status</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Date</th>
            <th>Location</th>
            <th class="text-center">Show Event Page</th>
        </tr>
    </thead>
    <tbody>
      <% Event.all.prev_events.each do |event| %>
        <tr class="table-secondary">
          <td class="align-middle"><span class="badge badge-warning p-2">Past</span></td>
            <td class="text-secondary align-middle"><strong><%= event.description %></strong></td>
            <td class="align-middle"><%= event.creator.name %></td>
            <td class="align-middle"><%= event.date.strftime('%Y-%m-%d %H:%M %Z') %></td>
            <td class="align-middle"><%= event.location %></td>
            <td class="text-center align-middle"><%= link_to 'Show', event_path(event.id), class: "btn btn-warning btn-sm px-5" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="mb-5"></div>
