<h2>Event Name: <%= @event.description %></h2>
<h3>The creator of this event is:<%= @user.name %></h3>
<h4>Location: <%= @event.location %></h4>
<h4>Date: <%= @event.date %></h4>

<h3>Attendees</h3>

<ol>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.name %>
    </li>
  <% end %>
</ol>

<h3>You can invite these people!!!</h3>
<ol>
  <% @event.unattendees.each do |unattendee| %>
    <li>
      <%= unattendee.name %>
      <%= link_to 'Invite', invitations_create_path("information"=>{ unattendee_id: unattendee.id, event_id: @event.id}) %>
    </li>
  <% end %>
</ol>
