<h2>Event Name: <%= @event.description %></h2>
<h3>The creator of this event is:<%= @user.name %></h3>
<h4>Location: <%= @event.location %></h4>
<h4>Date: <%= @event.date %></h4>

<h3>The People who has attended this event:</h3>

<ol>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.name %>
    </li>
  <% end %>
</ol>

<h3>This is a past event.</h3>
