<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <span class="px-1">
    <i class="fas fa-ring"></i>
  </span>
  <%= link_to 'Private Events', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-around w-75">
      <%= create_event_links %>
      <%= events_calendar_links %>
      <%= my_page_links %>
    </ul>
    <ul class="navbar-nav ml-auto d-flex">
      <%= render 'sessions/sign_up' %>

      <%= sign_out_links %>
    </ul>
  </div>
</nav>
