<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Welcome  <%= User.find(@current_user_id).name.upcase unless session[:current_user_id].nil? %>! </h1>
  <%= link_to 'Main Page', root_path %>
  <%= link_to 'Create New User', new_user_path %>
  <%= link_to 'Switch Between Users', users_path %>
  <%= link_to 'Create New Event', new_event_path %>

    <%= yield %>
  </body>
</html>
